#mainContainer {
    margin-left:265px;
    margin-top:190px;
    text-align: center;
}

#selectContainer {
    margin-bottom:20px;
    margin-right: 100px;
}

#keyInput {
    display:inline-block;
    width:400px;
    height:30px;
    margin-right:20px;
    font-size:15px;
    background-color: white;
    color:black;
    text-align: center;
    border:solid 1px #999;
    border-radius: 20px;
    font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std', "Microsoft YaHei", "微软雅黑", sans-serif;
}

.searchButton {
    display:inline-block;
    width:80px;
    height:30px;
    background-color: #B3FFE6;
    font-size:15px;
    color:black;
    text-align: center;
    border:solid 1px #d7d7d7;
    border-radius: 20px;
    font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std', "Microsoft YaHei", "微软雅黑", sans-serif;
}
